<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartore.user.mapper.WalletRecordMapper">

    <insert id="insert" parameterType="com.smartore.user.entity.WalletRecord" useGeneratedKeys="true">
        insert into wallet_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="type != null">type,</if>
            <if test="amount != null">amount,</if>
            <if test="balanceAfter != null">balance_after,</if>
            <if test="businessNo != null">business_no,</if>
            <if test="remark != null">remark,</if>
            create_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="type != null">#{type},</if>
            <if test="amount != null">#{amount},</if>
            <if test="balanceAfter != null">#{balanceAfter},</if>
            <if test="businessNo != null">#{businessNo},</if>
            <if test="remark != null">#{remark},</if>
            now(),
        </trim>
    </insert>


    <!-- 幂等占位插入：唯一键 (business_no, type) 冲突时等价无操作。
         用 ON DUPLICATE KEY 而非 INSERT IGNORE：后者会把超长/FK 等一切错误也降级成 0 行，
         让 saga 步骤"假成功"；这里只有重复键才静默，其余异常照常抛出。 -->
    <insert id="insertIgnore" parameterType="com.smartore.user.entity.WalletRecord" useGeneratedKeys="true">
        insert into wallet_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="type != null">type,</if>
            <if test="amount != null">amount,</if>
            <if test="balanceAfter != null">balance_after,</if>
            <if test="businessNo != null">business_no,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="type != null">#{type},</if>
            <if test="amount != null">#{amount},</if>
            <if test="balanceAfter != null">#{balanceAfter},</if>
            <if test="businessNo != null">#{businessNo},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>
</mapper>
